
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h2>Burası Yeni Sayfamızın Olduğu Kısımdır</h2>
<a href="/Default/Index4/" class="btn btn-success">Index4 Sayfasına Git</a>
<br /><br />
<a href="#" class="btn btn-info">Button2</a>
<br /><br />
<div>
    <a href="#" class="btn btn-primary">Button3</a>
</div>
