
@{
    Layout = null;
}

<h3>Merhaba Index2 Sayfası</h3>
<br />
<a href="/Default/Index/">Index Sayfasına Git</a>
<br /><br />
<label>Adınız:</label>
<input type="text" />
<br /><br />
<label>Soyadınız</label>
<input type="text" />
<br /><br />
<label>Mail Adresiniz</label>
<input type="email" />
<br /><br />
<label>Doğum Tarihiniz</label>
<input type="datetime" />
<br /><br />
<label>Deneme</label>
<input type="number" />
<br /><br />
<input type="password" />