
@{
    Layout = null;
}

Merhaba Mvc Projesi
<h1>Merhaba</h1>
<h2>Selam</h2>
<h3>Günaydın</h3>
<h4>Nasılsın</h4>

<div style="background-color:chocolate">Burası 1 Divdir</div>
<br />
<div style="background-color:lawngreen">Burası 2.Divdir</div>
<br />
<div style="background-color:fuchsia">Burası 3.Divdir</div>
<br />
<a href="http://www.google.com">Google</a>
<br />
<a href="/Default/Index2/">Index2 Sayfası</a>